<!DOCTYPE html>
<html lang="en">
    <head th:insert="~{fragments/layout :: headerFragment(title='Purchase Confirmation')}">
        <title>Purchase Confirmation</title>
    </head>

    <body>
        <div class="shadow-lg bg-image" th:style="'background-image: url(' + @{/images/WhiteTexture.jpg} + '); background-repeat: repeat; min-height: 100vh; background-position: center; background-size: cover;'">
            <div th:insert="~{fragments/layout :: navbarFragment}"></div>
            
            <div style="padding-top: 100px;">
                <div th:insert="~{fragments/layout :: confirmationFragment(message='Purchase was successful!')}"></div>
            </div>
    </body>
</html>